#navbar {
  background: lightgrey;
}

.nav-item .nav-link {
  color: #28a745;
  font-size: 1.3em;
  font-weight: 600;
}

.nav-item .nav-link:hover {
  color: #0056b3;
}

.navbar-brand {
  font-size: 2.4em!important;
  font-weight: 900;
  color: #28a745;
}

.background-div {
  background-image: url(images/index-bg.jpg);
  min-height: 1000px;
  background-size: contain;
  background-repeat: no-repeat;
}
