{% extends "base.html" %}

{% block content %}
  {% if user.is_authenticated %}
    <div class="card intro-card-div">
      <div class="card-body intro-card-body">
        <h3 class="card-title">Welcome, {{user.username}}</h3>
        <p class="card-text card-center">How can we help you today?</p>
      </div>
    </div>
  {% else %}
    <div class="card intro-card-div2">
      <div class="card-body intro-card-body">
        <h3 class="card-title card-center">Welcome to <br>Currier Lawn Care</h3>
        <p class="card-text card-center">Please login or sign up for a free account to schedule service and see customer reviews.</p>
      </div>
    </div>
  {% endif %}

{% endblock content %}
